@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: url("../public/Image/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-opacity: 0.5;
}
 */
body {
  background-image: url("../public/Image/bg.jpg");
}
